/* Gaya untuk body */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Gaya untuk container */
.container {
    display: flex;
    background-color: #fff; /* Latar belakang putih */
}

/* Gaya untuk sidebar (kiri) */
.sidebar {
    color: #000000;
    padding: 80px;
    padding-top: 40px;
    padding-left: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-right: -100px;
}

.sidebar h1 a,
.sidebar h2 a {
    text-decoration: none; /* Menghilangkan garis bawah */
    color: #000000; /* Mengganti warna teks (contoh: warna merah) */
}

.sidebar h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -10px; /* Mengurangi margin bawah */
    font-weight: bolder;
}

.sidebar h2 {
    font-size: 16px;
    margin-bottom: 10px; /* Mengurangi margin bawah */
}

.verified-icon {
    width: 18px; /* Sesuaikan ukuran ikon */
    height: 18px;
    margin-left: 5px; /* Sesuaikan jarak antara ikon dan teks */
    vertical-align: middle; /* Untuk mengatur ikon secara vertikal tengah */
    /* Tambahan gaya CSS lainnya sesuai kebutuhan Anda */
}

.sidebar img {
    max-width: 100px;
    border-radius: 50%;
}

.separator {
    width: 100%;
    border: 1px solid #aaaaaa; /* Garis hitam */
    margin: 10px 0;
}


.separator2 {
    width: 100%;
    border: 1px solid #aaaaaa; /* Garis hitam */
    margin: 10px 0;
}


.wrapper ul {
    list-style-type: none;
    padding: 0;
}

.wrapper li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


.wrapper a {
    text-decoration: none;
    color: #3f3d3d;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 90px; /* Padding untuk tautan menu */
    width: 100%;
}


.wrapper a:hover {
    text-decoration: none;
    background-color: rgb(224, 217, 217);
    border-radius: 5px;
    transition: all .2s ease-in-out;
    color: #000000;
    transform: scale(1.1);
}

.nyala {
    background-color: rgb(224, 217, 217);
    border-radius: 5px;
    color: #000000 !important;
}

.nyala:hover {
    background-color: rgb(224, 217, 217);
    border-radius: 5px;
    color: #000000 !important;
    transform: scale(1)!important;
}

.connect a{
    color: #3f3d3d;
    margin-left: 5px;
    margin-right: 5px;
}

.connect a i {
    font-size: 20px; /* Ukuran awal ikon */
    transition: transform 0.2s ease-in-out; /* Efek transisi untuk perubahan ukuran */
}

.connect a:hover i {
    transform: scale(1.2); /* Ukuran ikon saat dihover */
    color: #000000;
}

.connect .github-link {
    position: relative;
}

.connect .github-link .icon-text {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.connect .github-link:hover .icon-text {
    opacity: 1;
}


.wrapper i {
    margin-left: -70px;
    margin-right: 15px; /* Menambahkan jarak antara ikon dan teks nama menu */
    width: 20px; /* Sesuaikan lebar ikon sesuai kebutuhan */
    text-align: center;
}


/* Gaya untuk content (kanan) */
.content {
    flex: 1;
    padding: 20px;
    margin-top: -30px;
    padding-left: -400px;
    margin-right: 140px;
    margin-left: -10px;
    padding-right: 150px;
    min-width: 100px;
}
.isiteks {
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    margin-right: 145px;
    line-height: 2;
}
.subsubjudul {
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    margin-right: 145px;
    line-height: 0.5;
    color: #333;
}

.fa-code p {
    color: #000;
}
.subjudul strong {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
}

.separator4 {
    margin-right: 150px;
}

/* Gaya untuk bagian-bagian lainnya (home, service, artikel) */
section {
    padding: 40px;
}

/* Gaya untuk footer */
footer {
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: -20px 0;
}

/* Gaya untuk isi*/
.dibawahhalo {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    flex-direction: row;
    align-items: center;
    margin-top: -10px; /* Menambahkan jarak atas */
}

.dibawahhalo li {
    margin-right: 30px; /* Menambahkan jarak horizontal antara "Name" dan "Haha" */
}

.header {
    position: relative; /* Memungkinkan posisi absolute pada .peta-container */
}

/* Gaya untuk peta */
.peta-container {
    position: absolute;
    top: 5rem; /* Atur posisi vertikal ke atas */
    right: 0; /* Atur posisi horizontal ke kanan */
}

.traktir a{
    position: absolute;
    color: #3f3d3d;
    top: -2px;
    right: 1rem;
}

.traktir a i {
    font-size: 24px; /* Ukuran awal ikon */
    transition: transform 0.2s ease-in-out; /* Efek transisi untuk perubahan ukuran */
}

.traktir a:hover i {
    transform: scale(1.2); /* Ukuran ikon saat dihover */
    color: #000000;
}

.traktir .github-link .icon-text {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.traktir .github-link:hover .icon-text {
    opacity: 1;
}

.menu-icon {
    display: none; /* Sembunyikan ikon di awal */
    cursor: pointer;
    position: absolute;
    top: 20px; /* Sesuaikan posisi vertikal */
    right: 20px; /* Sesuaikan posisi horizontal */
}
.bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
}


/* Gaya untuk ikon coding */
.codingskills .icon-container {
    position: relative; /* Untuk posisi elemen teks di dalam ikon */
    display: inline-block;
    margin: 0; /* Sesuaikan margin sesuai kebutuhan Anda */
    margin-right: 10px;
    margin-left: -5px;
}

/* Gaya untuk teks yang muncul saat ikon dihover */
.codingskills .icon-container::after {
    content: attr(data-text); /* Ambil teks dari atribut data-text */
    position: absolute; /* Letakkan teks di atas ikon */
    bottom: 50px; /* Geser teks ke bawah ikon */
    left: 50%; /* Pusatkan teks horizontal ke ikon */
    transform: translateX(-50%); /* Pusatkan horizontal */
    font-size: 14px;
    color: #fffcfc;
    background-color: rgba(0, 0, 0, 0.8); /* Warna latar belakang dengan transparansi */
    padding: 5px 10px; /* Padding untuk teks */
    border-radius: 5px; /* Membuat sudut sudut bulat */
    opacity: 0; /* Mulai dengan teks tersembunyi */
    pointer-events: none; /* Tekan peristiwa mouse untuk elemen ini */
    transition: opacity 0.3s ease-in-out;
}

.codingskills .icon-container:hover::after {
    opacity: 1; /* Tampilkan teks ketika ikon dihover */
}

/* Gaya untuk ikon "ke atas" */
#scroll-to-top {
  display: none; /* Sembunyikan ikon saat halaman dimuat */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

#scroll-to-top:hover {
  background-color: #555;
}

/* Gaya untuk ikon "ke atas" saat ditampilkan */
#scroll-to-top.active {
  display: block;
}

/* SERVICE.HTML */
#my-service-button {
    text-decoration: none;
    background-color: #727272;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#my-service-button:hover {
    background-color: #0056b3;
}



/* Gaya untuk layar lebar */
@media screen and (min-width: 768px) {
    /* Atur gaya CSS untuk layar dengan lebar minimal 768px di sini */
    .container {
        flex-direction: row;
    }
    .sidebar {
        padding-left: 150px;
    }
    .content {
        margin-left: 0;
        padding-right: 20px;
    }
}

/* Gaya untuk layar lebih kecil */
@media screen and (max-width: 767px) {
    .separator4 {
        display: block;
        margin-right: 0;
    }
    .separator {
        display: none;
    }
    .separator3 {
        display: none;
    }
    
    .separator2 {
        display: none;
    }
    
    .connect {
        display: none;
    }
    .sidebar {
        color: #000000;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: left;
        text-align: left;
        margin-right: 0;
        background-color: white;
    }
    .sidebar p {
        display: none;
    }
    .sidebar h2 {
        display: none;
    }
    .sidebar h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .sidebar img {
        max-width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .verified-icon {
        width: 50px; /* Tetapkan lebar gambar */
        transform: scale(0.4);
        margin-left: -9px;
        margin-bottom: 3px;
    }
    .wrapper {
        display: none;
    }
    .container {
        flex-direction: column;
    }
    .content {
        margin-left: 0;
        padding-right: 0;
    }
    .content p {
        text-align: justify;
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
        line-height: 2;
    }
    .subsubjudul {
        font-size: 18px;
        color: #000;
    }
    .icon-text {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    #home  {
        padding: 10px;
    }
    .content {
        margin-right: 0;
        border-top: 1px solid #aaaaaa; /* Tambahkan garis di atas konten */
        padding-top: 1px; /* Atur jarak antara garis dan isi konten */
    }
    /* Gaya untuk menu-wrapper ketika aktif */
    #menu-wrapper.active {
        position: absolute;
        top: 100px; /* Sesuaikan dengan posisi yang Anda inginkan */
        left: 0;
        background-color: #fff; /* Latar belakang putih */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
        z-index: 1; /* Pastikan menu muncul di atas konten lainnya */
        padding: 10px;
        width: 95%; /* Lebar menu 100% */
        display: flex;
        flex-direction: column;
        align-items: left;
    }
  
  /* Gaya untuk foto dan nama ketika menu aktif */
    #my-image.active,
    #my-name.active {
        transition: margin-top 0.3s ease-in-out; /* Animasi perubahan posisi */
    }
    
    /* Gaya untuk konten saat menu aktif */
    #menu-wrapper.active + .content {
        margin-top: 100px; /* Sesuaikan dengan tinggi menu Anda */
    }
    
    /* Gaya untuk tombol menu saat aktif */
    #menu-icon.active .bar {
        background-color: transparent; /* Sembunyikan garis ikon menu */
    }
    
    #menu-icon.active .bar::before,
    #menu-icon.active .bar::after {
        transform: rotate(45deg); /* Tampilkan efek X pada ikon menu */
        top: 0;
    }
    .connect.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px; /* Sesuaikan dengan jarak yang Anda inginkan */
        transition: none; /* Hapus transisi warna abu */
    }
    .connect {
        display: none;
        position: absolute;
        background-color: #fff;
        top: 100px; /* Sesuaikan dengan jarak yang Anda inginkan dari atas */
        left: 0;
        width: 95%;
        z-index: 1;
        padding: 10px;
        flex-direction: column;
        align-items: center;
      }
      
      
}